<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home"><span class="fa fa-home"></span> Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-tour"><span class="fa fa-plus"></span> Add Tour </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tours"><span class="fa fa-plus"></span> Tours </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <!-- <li>
        <a class="nav-link" routerLink="/profile" href="#"><span
            class="fa fa-user"></span> {{currentUser.lastName}}
          {{currentUser.firstName}}</a>
      </li> -->
      <li>
        <a class="nav-link" routerLink=""><span class="fa fa-sign-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>